body{
    padding: 0;
    margin: 0;

}

.parent{
    width: 100vw;
    height: 100vh;
    /* background-color: pink; */
    /* padding: 0; */
    /* margin: 0; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;    

    background-image: url("https://wallpapersprinted.com/download/2/sunshine_6-wallpaper-1920x1080.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;



}

.temperature , .extra{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
}



.temperature{
    width: 50%;
    height: 20%;
    background-color: rgba(245, 245, 245, 0.2);
}


.extra{
    width: 50%;
    height: 25%;
    /* background-color: rgb(255, 140, 0); */

    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    row-gap: 2px;
    column-gap: 2px;
    place-content: center;
}




span{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.2);
    border-radius: 5%;

}


h1{
    font-size:3rem;
    font-weight: 100;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.city{
    background-color: rgba(245, 245, 245, 0.2);
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h6{
    font-size: x-large;
    font-weight: 200;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}



@media only screen and (max-width: 600px) {

        .temperature {
            height: 8%;
        }
        .city{
            height: 5%;
        }
        .extra{
            height:10%;
            
        }
        p{
            font-size: xx-small;
        }

       
     

        h1{
            font-size: medium;
        }
        h6{
            font-size: x-small;
        }

        .parent{
            background-size: fill;
        }

}